/* Application */

.application-container {
	display: none;
	position: absolute;
	top: 57px;
	right: 11px;
	bottom: 11px;
	left: 297px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.7);
}

.application-container._maximized {
	left: 11px;
}

/* Base styles */

.application {
	clear: left;
}

.application-header {
	float: left;
	height: 52px;
	line-height: 52px;
	margin: 0 0 1px 7px;
	font-size: 22px;
	font-weight: normal;
	color: #333;
	cursor: default;
}

.application-header-from {
	font-size: 22px;
	color: #999;
}

.application-header-from a {
	text-decoration: none;
}


/* Application menu */

.application-menu {
	float: left;
	height: 46px;
	line-height: 50px;
	margin: 3px 0 0 28px;
	font-size: 17px;
	font-weight: normal;
	color: #000;
	cursor: default;
}

.application-menu a {
	color: #00559c;
	cursor: pointer;
	margin-left: 21px;
	text-decoration: none;
}

.application-menu a:hover {
	text-decoration: underline;
}

.application-menu a[disabled] {
	color: #999;
	cursor: default;
	text-decoration: none;
}

/* Close button */

.application-close {
	display: none;
	float: right;
	width: 18px;
	height: 18px;
	margin: 18px 11px 0 0;
	cursor: pointer;
}

/* Status bar */

.application-status {
	height: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0 7px;
	font-size: 12px;
	color: #666;
}