* {
	outline: 0;
}

html {
	height: 100%;
	font-family: sans-serif;
}

body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e6e6e6;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
}

a {
	color: #00559c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.fast {
	text-decoration: none;
	color: #00559c;
	border-bottom: #00559c 1px dashed;
	cursor: pointer;
}

a.fast:hover {
	border-bottom: 0;
}

.clear {
	clear: both;
}

span.overflowed {
	float: left;
	overflow: hidden;
}

/* Forms */

form p {
	margin: 0 0 3px 0;
	float: left;
	clear: left;
	line-height: 28px;
}

form p label {
	float: left;
	clear: both;
	height: 30px;
	line-height: 30px;
	width: 125px;
	padding-right: 14px;
	font-size: 12px;
	color: #333;
	text-align: right;
}

input, select {
    font-size: 12px;
}

input[type=button],
input[type=submit] {
    -webkit-appearance: button;
    font-size: 12px;
    height: 21px;
}

/* Close button */

input[type=button].close {
	border: 0;
	height: 18px;
	width: 18px;
	background: transparent url('../images/close.png') center no-repeat;
	box-shadow: none;
}

input[type=button].close:hover {
	background: transparent url('../images/close.png') top center no-repeat;
}

input[type=button][disabled].close {
	cursor: default;
	background: transparent url('../images/close.png') bottom center no-repeat;
}

/* Badges */

.badge {
	background-color: #E3E3E3;
	border-radius: 3px;
	padding: 0 3px;
	margin-right: 3px;
	text-transform: uppercase;
}