/* Code editor */

.code-editor {
	margin-top: 1px;
	border-top: #ddd 1px solid;
	border-bottom: #eee 1px solid;
	background-color: #fff;
	font-family: Courier;
}

.code-editor textarea {
	height: 250px;
	width: 400px;
}


.CodeMirror {
	width: 600px;
	font-size: 13px;
}