/*
 * Code editor
 */

.code-editor {
	margin-top: 1px;
	border-top: #ddd 1px solid;
	border-bottom: #eee 1px solid;
	background-color: #fff;
	font-family: Courier;
	line-height: 12pt;
	}

.code-editor .line-numbers {
	float: left;
	position: relative;
	top: 0; left: 0;
	height: 183px;
	width: 35px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eee;
	border-right: #e0e0e0 1px solid;
	color: #999;
	}

.code-editor .line-numbers li {
	padding: 0 5px;
	text-align: right;
	}

.code-editor textarea {
	height: 250px;
	width: 400px;
	overflow-y: scroll;
	margin: 0 0 -4px -35px;
	padding: 0 0 0 35px;
	border: 0;
	}