/* Tables */

.application.explorer .grid2-head-column:first-child {
	width: 200px;
}

.application.explorer .grid2-head-column._column-engine {
	width: 100px;
}

.application.explorer .grid2-head-column._column-rows,
.application.explorer .grid2-head-column._column-size {
	width: 70px;
	text-align: right;
}

.application.explorer .grid2-body-column._column-rows,
.application.explorer .grid2-body-column._column-size {
	text-align: right;
}

.application.explorer .grid2-body-column._column-size {
	border-right-width: 0;
}

/* Processlist */

.application.explorer .grid2-head-column._column-process_id {
	width: 100px;
}

.application.explorer .grid2-head-column._column-user {
	width: 175px;
}

.application.explorer .grid2-head-column._column-database {
	width: 125px;
}

.application.explorer .grid2-head-column._column-command,
.application.explorer .grid2-head-column._column-time {
	width: 75px;
}

.application.explorer .grid2-head-column._column-time,
.application.explorer .grid2-body-column._column-time {
	text-align: right;
}

/* Users */

.application.explorer .grid2-head-column._column-host {
	width: 125px;
}

.application.explorer .grid2-head-column._column-password {
	width: 60px;
}

.application.explorer .grid2-head-column._column-privileges {
	width: 175px;
}

/* Views */

.application.explorer  .grid2-head-column._column-definer {
	width: 200px;
}