/*
 * Float box
 */

.float-box{
	display: none;
	position: absolute;
	top: 250px;
	left: 400px;
	padding: 0 0 21px 0;
	
	background-color: #f6f6f6;
	background: -moz-linear-gradient(top, #f8f8f8, #f3f3f3);
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f3f3f3));
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.7);
	-moz-box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.7);
	}
.float-box h3{
	height: 52px;
	line-height: 52px;
	margin: 0 7px;
	font-size: 16.5pt;
	font-weight: normal;
	color: #333;
	cursor: default;
	}
.float-box h3 a{
	text-decoration: none;
	}
.float-box h3 .from{
	font-size: 13pt;
	}
.float-box .close{
	position: absolute;
	top: 16px;
	right: 11px;
	}
.float-box form {
	margin: 21px 0 0 0;
	padding: 0 14px;
	}
.float-box .buttons{
	clear: both;
	margin: 14px 0 0;
	text-align: center;
	}
.float-box .buttons input[type=button],
.float-box .buttons input[type=submit] {
	padding: 2px 7px;
	}
