@import url('notifications.css');
@import url('sidebar.css');
@import url('application.css');
@import url('server-information.css');
@import url('browser.css');
@import url('grid.css');
@import url('grid2.css');
@import url('float-box.css');
@import url('form-about.css');
@import url('form-auth.css');
@import url('form-create-database.css');
@import url('form-add-user.css');
@import url('code-editor.css');
@import url('table-editor.css');
@import url('properties.css');


* { 
	outline: 0;
	}

html {
	height: 100%;
	}

body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e6e6e6;
	font: 9pt "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	}

a {
	color: #00559c;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
}

a.fast {
	text-decoration: none;
	color: #00559c;
	border-bottom: #00559c 1px dashed;
	cursor: pointer;
	}

a.fast:hover {
	border-bottom: 0;
	}

.clear{
	clear: both;
	}

span.overflowed {
	float: left;
	overflow: hidden;
	}

#explorer,
#backup-restore,
#table,
#data-browser,
#dummy {
	display: none;
	}

/*
 * Header
 */

#header {
	height: 35px;
	margin: 11px;
	padding: 0 0 0 7px;
	}

#header h1 {
	display: none;
	float: left;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0;
	font-size: 18pt;
	font-weight: normal;
	}

#header h1 a {
	color: #000;
	text-decoration: none;
	}

#header ul.links {
	display: none;
	float: right;
	list-style-type: none;
	height: 24px;
	margin: 5px 0 0 21px;
	padding: 0;
	font-size: 10.5pt;
	}

#header ul.links li {
	float: left;
	height: 24px;
	line-height: 24px;
	margin-left: 0;
	}

#header ul.links li.sql {
	margin-right: 14px;
	}

#header ul.links li span {
	float: left;
	padding: 0 7px 0 7px;
	cursor: pointer;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-web-kit-border-radius: 7px;
	}

#header ul.links li.active span {
	background-color: #FCFCFC;
	font-weight: bold;
	}


#applications {
	display: none;
	position: absolute;
	top: 57px;
	right: 11px;
	bottom: 11px;
	left: 297px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.7);
	-moz-box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.7);
	-webkit-box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.7);
	}

#applications.maximized {
	left: 11px;
	}


/*
 * Forms
 */

form p {
	margin: 0 0 3px 0;
	float: left;
	clear: left;
	line-height: 28px;
	}

form p label {
	float: left;
	clear: both;
	height: 30px;
	line-height: 30px;
	width: 125px;
	padding-right: 14px;
	font-size: 10pt;
	color: #333;
	text-align: right;
	}

form input[type=text],
form input[type=password],
form select {
	background-color: #fff;
	border: #ccc 1px solid;
	border-top-color: #b9b9b9;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #333;
	float: left;
	font-size: 10.5pt;
	padding: 3px 5px;
	}

form input[type=text]:focus,
form input[type=password]:focus,
form select:focus {
	-webkit-box-shadow: 0px 0px 1px rgba(24, 63, 122, 0.5);
	}

form select optgroup {
	color: #666;
	}

form select option {
	color: #333;
	}

form .helper {
	padding: 0 3px;
	background-color: #E3E3E3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}


/*
 * Buttons, others interface elements
 */

input[type=button],
input[type=submit] {
	height: 28px;
	font-weight: bold;
	color: #333;
	border: 0;
	background-color: #fff;
	background: -moz-linear-gradient(top, #ffffff, #e3e3e3);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e3e3e3));
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
	}

input[type=button]:hover,
input[type=submit]:hover {
	color: #00559C;
	cursor: pointer;
	
	background-color: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc, #dcdcdc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dcdcdc));
	}
input[type=button]:active,
input[type=submit]:active {
	cursor: pointer;
	
	background-color: #f0f0f0;
	background: -moz-linear-gradient(top, #e3e3e3, #fcfcfc);
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#fcfcfc));
	}
input[type=button]:disabled,
input[type=submit]:disabled{
	cursor: default;
	background: #eee;
	color: #666;
	}
	
input[type=button].close {
	height: 18px;
	width: 18px;
	background: transparent url('../images/close.png') center no-repeat;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	}

input[type=button].close:hover {
	background: transparent url('../images/close.png') top center no-repeat;
	}

input[type=button][disabled].close {
	cursor: default;
	background: transparent url('../images/close.png') bottom center no-repeat;
	}
