/* Notifications */

.notifications {
	position: absolute;
	z-index: 99;
	top: 0;
	width: 100%;
	font-size: 16px;
	text-align: center;
	list-style-type: none;
	margin: 1px 0 0 0;
	padding: 1px;
}

.notifications-message-container {
	line-height: 21px;
	margin-bottom: 2px;
}

.notifications-message {
	padding: 1px 11px;
	background-color: #F6F6F6;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(127, 127, 127, 0.3);
}

.notifications-message._error {
	background-color: #F99;
}