/* Properties */

.properties {
	font-size: 13px;
	line-height: 24px;
	list-style-type: none;
	margin: 7px 0 14px 0;
	padding: 0;
	width: 350px;
	float: left;
	background-color: #F9F9F9;
	border-top: #DDD 1px solid;
	border-bottom: #EEE 1px solid;
}

.property {
	clear: both;
}

.property-name {
	color: #333;
	float: left;
	font-weight: normal;
	margin: 0 11px 0 0;
	text-align: right;
	background-color: #EEE;
	border-right: #E0E0E0 1px solid;
	padding-right: 11px;
}

.properties._database .property-name {
	width: 90px;
}

.properties._table .property-name {
	width: 110px;
}

.property:first-child .property-name,
.property:first-child .property-value {
	padding-top: 5px;
}

.property:last-child .property-name,
.property:last-child .property-value {
	padding-bottom: 5px;
}

.property-value {
	float: left;
	margin: 0;
}