/* Server information */

.application.server .application-menu {
	float: right;
	font-size: 14px;
	margin-right: 21px;
}

.application.server .grid2-head-column:first-child {
	width: 200px;
}

.application.server .grid2-head-column._column-default_collation {
	width: 150px;
}

.application.server .grid2-head-column._column-support {
	width: 75px;
}