/* Sidebar */

.sidebar {
	display: none;
	float: left;
	clear: left;
	margin: 0 11px;
	padding: 0;
	width: 275px;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	border-radius: 5px;
}

.sidebar._minimized {
	display: none;
}

.sidebar-levels {
	list-style-type: none;
	margin: 0;
	padding: 2px 0 3px 0;
}

.sidebar-level {
	border-top: #F9F9F9 1px solid;
	border-bottom: #E3E3E3 1px solid;
}

.sidebar-level[level=host] {
	border-top-color: #EEE;
}

.sidebar-level._last {
	border-bottom-color: #EEE;
}

.sidebar-level h2 {
	height: 48px;
	margin: 0;
	padding: 1px 0 1px 48px;
	background: transparent url('../images/icon-48.png') left center no-repeat;
	cursor: pointer;
}

.sidebar-level-name {
	float: left;
	margin-top: 7px;
	font-size: 11px;
	font-weight: normal;
	color: #333;
}

.sidebar-level-value {
	float: left;
	clear: left;
	font-size: 22px;
	font-weight: normal; 
	color: #333;
	width: 225px;
	overflow: hidden;
	white-space: nowrap;
}

.sidebar-links {
	list-style-type: none;
	margin: 14px 0 21px 28px;
	padding: 0;
	font-size: 14px;
}

.sidebar-link {
	line-height: 24px;
	height: 24px;
}

.sidebar-link span {
	float: left;
	padding: 0 7px 0 21px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-web-kit-border-radius: 7px;
}

.sidebar-link a {
	text-decoration: none;
	color: #000;
}
.sidebar-link a[disabled] {
	cursor: default;
	color: #737373;
}

.sidebar-link a[href]:hover {
	color: #00559C;
}

.sidebar-link._active span {
	background-color: #FCFCFC;
	font-weight: bold;
}

.sidebar-link._active a:hover {
	color: #000;
}
