/* Columns */

.application.table .grid2-head-column:first-child {
	width: 200px;
}

.application.table .grid2-head-column._column-column-type {
	width: 100px;
}

.application.table .grid2-head-column._column-column-is-null,
.application.table .grid2-body-column._column-column-is-null {
	width: 30px;
	text-align: center;
}

.application.table .grid2-head-column._column-column-attributes {
	width: 135px;
}

.application.table .grid2-head-column._column-column-default {
	width: 135px;
}

/* Indexes */

.application.table .grid2-head-column._column-index-unique {
	width: 65px;
}

/* Foreign keys */

.application.table .grid2-head-column._column-reference_name,
.application.table .grid2-head-column._column-column,
.application.table .grid2-head-column._column-reference {
	width: 175px;
}

.application.table .grid2-head-column._column-update {
	width: 70px;
}