/*
 * Table editor
 */

#table .grid2-head-column.column,
#table .grid2-head-column.column div,
#table .grid2-body-column.column,
#table .grid2-body-column.column div {
	width: 200px;
	}

#table .grid2-head-column.type,
#table .grid2-head-column.type div,
#table .grid2-body-column.type,
#table .grid2-body-column.type div {
	width: 100px;
}

#table .grid2-head-column.null,
#table .grid2-head-column.null div,
#table .grid2-body-column.null,
#table .grid2-body-column.null div {
	width: 30px;
	}

#table .grid2-body-column .badge-hidden {
	color: #FFF;
	display: none;
	}

#table .grid2-body-column .badge-hidden.y {
	background-color: #BFD4E6;
	color: #333;
	display: inline;
	}

#table tr:hover .grid2-body-column .badge-hidden{
	display: inline;
}